.toolbar {
    -fx-font-size: 20;
}

.grid {
    revealed-color: derive(-fx-base, -30%);
    -fx-font-family: monospaced;
}

.grid:revealed {
    -fx-background-color: derive(revealed-color, -15%), revealed-color;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 0;
}

.grid:revealed:hover {
    -fx-color: -fx-base
}

.grid:armed {
    -fx-color: derive(revealed-color, +35%)
}

.grid._negative {
    -fx-font-weight: bolder;
    -fx-text-fill: red;
}

.grid._0 {
    -fx-font-weight: bold;
    -fx-text-fill: transparent;
}

.grid._1 {
    -fx-font-weight: bold;
    -fx-text-fill: blue;
}

.grid._2 {
    -fx-font-weight: bold;
    -fx-text-fill: green;
}

.grid._3 {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.grid._4 {
    -fx-font-weight: bold;
    -fx-text-fill: darkblue;
}

.grid._5 {
    -fx-font-weight: bold;
    -fx-text-fill: maroon;
}

.grid._6 {
    -fx-font-weight: bold;
    -fx-text-fill: cyan;
}

.grid._7 {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.grid._8 {
    -fx-font-weight: bold;
    -fx-text-fill: gray;
}

.grid.flag {
    -fx-text-fill: transparent;
    -fx-background-image: url(flag.png);
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.grid.mine {
    -fx-text-fill: transparent;
    -fx-background-image: url(mine.png);
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}